<%= content_for :extra_head do %>
  <meta property="og:description" content="I just joined <%= donor_count %> others and signed up to give ### a day." />
<% end %>
<div class='clearfix'>
  <div class='col col-12 py4 border-first-panel relative bc-white bg-dewy min-panel-height viewport-height' style='z-index:1'>
    <div class='clearfix pb4 px2 mx-auto max-width-4'>
      <div class='double-border-box-faq biggest-box index-page-box p1'>
        <h3 class='sofiasemibold dgray mb2'>Thank you!</h3>
        <h2 class='sofiasemibold dgray mb4'>
          You care about
          <span class='accent-color'>Bullying & Violence</span>
          and would like to contribute
          <span class='accent-color'>$2.00</span>
          everyday.
        </h2>
        <%= link_to "Return home", root_path, {
          class: "p2 mx-auto text-decoration-none sofiabold bg-white h6 algae bc-algae button-border button-radius"
        } %>
        <%= link_to "Go to my account", account_path, {
          class: "p2 mx-auto text-decoration-none sofiabold bg-algae h6 white bg-algae button-border bc-algae button-radius"
        } %>

        <%= link_to "Tweet", "https://twitter.com/share?text=I%20just%20joined%20#{donor_count}%20donors%20giving%20to%20amazing%20nonprofits!&url=#{root_url}", {
          class: "p2 mx-auto text-decoration-none sofiabold bg-white h6 button-border bc-velure button-radius velure",
          target: '_blank'
        } %>

        <%= link_to "Share", "http://www.facebook.com/dialog/feed?display=popup&redirect_uri=#{URI.escape(root_url)}&app_id=#{Rails.application.secrets.facebook_app_id}&link=#{URI.escape(root_url)}", {
          class: "p2 mx-auto text-decoration-none sofiabold bg-velure h6 white button-border bc-velure button-radius",
          target: '_blank'
        } %>

      </div>
    </div>
  </div>
</div>
