<div class='before-faq-panel col col-12 py4 bg-mandarine min-panel-height'>
  <div class='column-img-right clearfix pt4 pb4 mb4 px2 flex items-center mx-auto max-width-4'>
    <div class='col md-col-6 sm-col-12 panel-text sofiasemibold dgray'>
      <p class='sofiabold h2 dgray pb2'><%= locals[:headline] %><span class='nectarine'><%= locals[:headline_accent] %></span></p>
      <p class='MuseoSans300 h5 pb3 lgray'><%= locals[:copy] %></p>
      <a href='/volunteer' class='donate-activation-button text-decoration-none nowrap sofiabold bg-nectarine h6 p2 white mx-auto'><%= locals[:cta] %></a>
    </div>
    <div class='img-right pb4 col md-col-6 sm-col-12 '>
      <img class='m0 fit block' src="<%= image_path locals[:img] %>"/>
    </div>
  </div>
</div>
