<section id="content" class="bg-green pb6">
  <div class="header-shim"></div>
  <div class="container pl2 pr2">
    <div class="col-center col-8">
      <div class="mb4">
        <h3 class="bold mb2">What is <%= Rails.application.secrets.name %>?</h3>
        <p><%= Rails.application.secrets.name %> is a simple new way for people to discover and support nonprofits that do great work.</p>
        <div class="divider"></div>
      </div>
      <div class="mb4">
        <h3 class="bold mb2">How does <%= Rails.application.secrets.name %> work?</h3>
        <div class="divider"></div>
      </div>
      <div class="mb4">
        <h3 class="bold mb2">Who is <%= Rails.application.secrets.name %> for?</h3>
        <p><%= Rails.application.secrets.name %> is for anyone who wants to be more engaged with nonprofits. Finding great organizations can be difficult, and many of us are busier than ever. We wanted to make it easier for people to both discover and support great nonprofits.</p>
        <p>At its heart, <%= Rails.application.secrets.name %> is about discovery. We hope that our daily emails will be a gateway for people to give directly, volunteer for, or simply learn more about a variety of great organizations and the problems they’re trying to solve. A public more fluent in nonprofits and their work is really exciting.</p>
        <div class="divider"></div>
      </div>
      <div class="mb4">
        <h3 class="bold mb2">If I donate, will my credit card be charged $### a day?</h3>
        <p>Nope. Donors are charged on a monthly cycle: $### every 30 days. It keeps things simple and minimizes credit card fees.</p>
        <div class="divider"></div>
      </div>

      <!-- FOR ANCHOR LINK-->
      <div id="calendar"></div>

      <div class="mb4">
        <h3 class="bold mb2">Can I see the calendar of the nonprofits you’ll be featuring?</h3>
        <p>Yes! <%= link_to "Our calendar", calendar_path(ref: "faq") %> will always show (at least) the next 60 days of nonprofits.</p>
        <div class="divider"></div>
      </div>
      <div class="mb4">
        <h3 class="bold mb2">What is your selection criteria for nonprofits?</h3>
        <p> ... text goes here about selection criteria ... </p>
        <div class="divider"></div>
      </div>
      <div class="mb4">
        <h3 class="bold mb2">Can I opt out of donating to certain nonprofits?</h3>
        <p>No. We’ve chosen to keep things simple to start. And we hope that instead of feeling a need to skip nonprofits that might not excite you, you’ll choose to go the other way: learn more, give more, and engage further with those that really grab you.</p>
        <div class="divider"></div>
      </div>
      <div class="mb4">
        <h3 class="bold mb2">Can I suggest a nonprofit?</h3>
        <p>Yes! We would love to hear from you. <a href="https://..." target="_blank">Drop us a line</a>.</p>
        <div class="divider"></div>
      </div>
      <div class="mb4">
        <h3 class="bold mb2">Are donations tax deductible?</h3>
        <p>All donations on <%= Rails.application.secrets.name %> are 100% US tax deductible. You'll get an email receipt when your credit card is charged.</p>
        <div class="divider"></div>
      </div>
      <div class="mb4">
        <h3 class="bold mb2">How do donations get from <%= Rails.application.secrets.name %> to the nonprofits?</h3>
        <p><%= Rails.application.secrets.name %> distributes funds directly to each of our featured nonprofits within 30 days of feature.</p>
        <div class="divider"></div>
      </div>
      <div class="mb4">
        <h3 class="bold mb2">How do I cancel once I’ve started donating?</h3>
        <p>We make it easy, with links to cancel from every daily email. Once you cancel you won’t be charged again, but your last $30 donation will still be distributed to the 30 nonprofits from the date of last donation.</p>
        <p>Even if you stop being a donor, you can still continue to receive our daily email for free!</p>
        <div class="divider"></div>
      </div>
      <div class="mb4">
        <h3 class="bold mb2">Am I going to get mail or email from nonprofits?</h3>
        <p>No. Your donations are processed anonymously. Your name, address, and email are not shared with nonprofits. You can always sign up for more info on any nonprofit’s website.</p>
        <div class="divider"></div>
      </div>
      <div class="mb4">
        <h3 class="bold mb2">Will you ever repeat the same nonprofits?</h3>
        <p>At some point, we may repeat nonprofits &mdash; particularly, those featured in the early days, when fewer people were signed up. We have many hundreds to feature first, though, and we are always looking for more to consider. Know an organization doing good work? <a href="https://..." target="_blank">Suggest a nonprofit</a>.</p>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</section>
