<div class='clearfix'>

    <div class='col col-12 py4 border-first-panel relative bc-white bg-mandarine min-panel-height' style='z-index:1'>
      <div class='clearfix py4 px2 flex items-center mx-auto'>
        <div class='col col-12 py4 flex flex-column center'>
          <div class='max-width-3 mx-auto'>
            <p class='mx-auto h1 my0 sofiabold pb1 dgray'>Connect to your community through<span class='accent-color'> volunteering.</span></p>
            <p class='mx-auto h5 MuseoSans300 px4 py3 dgray'>
              Volunteer with local, credible community organization (currently beta testing in NYC).
            </p>
          </div>

          <%= render "layouts/public/partials/category_cards", locals: @categories, mode: "filter" %>

          <div id='collapse-sub-header'></div>
          <% content_for :sub_header do %>
            <%= render "layouts/public/partials/activations_sub_header", locals: @categories %>
          <% end %>

        </div>
      </div>
    </div>

    <div class='before-faq-panel col col-12 py4 my4 bg-mandarine min-panel-height'>
      <div class='clearfix flex items-center flex-wrap justify-center'>
        <% @activations.each do |activation| %>
          <%= render "layouts/public/partials/activation_card", activation: activation %>
        <% end %>
      </div>
    </div>

    <div class='faq-panel col col-12 pb4 min-panel-height'>
      <div class='clearfix pb4 px2 mx-auto max-width-4'>
        <div class='double-border-box-faq biggest-box index-page-box p1'>
          <p class='box-inner-text sofiabold h4 dgray'>A blueprint for change</p>
          <p class='box-inner-text sofiabold h2 accent-color'>Our goal is to help make volunteering accessible; easy to organize, and simple to join. To do so, we’re sharing some tips and challenges we’ve faced along the way.</p>
        </div>
        <div class='faq-container'>
          <div class='faq-text-box'>
            <p class='sub-heading sofiabold dgray'>Volunteering tips</p>
            <p class='faq-subheading sofiabold h4 dgray'>Find local organizations</p>
            <img class='faq-img fit absolute mx4 xs-hide sm-hide right-0' src="<%= image_path('public/derek.png') %>" />
            <p class='faq-text h5'>
              There are many great organizations doing incredible and impactful work. We didn’t want to spend time creating new ones - we wanted to connect with the local organizations already making a difference. To find local organizations that need volunteers, Google:
              “(neighborhood) + (choose one of our 6 categories) + volunteer”
            </p>
            <p class='faq-text h5'>
              Additionally, your local soup kitchen, churches, and community centers are great places to start.
              The money you donate goes directly to the selected charities. We don’t take a penny.
            </p>
            <p class='faq-subheading sofiabold h4 dgray'>Ask & listen</p>
            <p class='faq-text h5'>
              Once you’ve found someone to talk to, simply ask ‘how can I help?” Listen to their needs, and see how you can start with a few friends or contacts. Remember the power of thinking small.
            </p>
            <p class='faq-subheading sofiabold h4 dgray'>Make it easy</p>
            <p class='faq-text h5'>
              We chose to start with two criterias:
              <ul class='faq-text h5'>
              	<li>1. 	Weekend dates, when more people had off from work.</li>
              	<li>2. 	Focusing on charities that could take general help, so as to make the
                	opportunities more inclusive for first time volunteers.</li>
              </ul>
            </p>
            <img class='faq-img fit absolute mx4 pt4 xs-hide sm-hide left-0' src="<%= image_path('public/Homeless.png') %>" />
            <p class='faq-subheading sofiabold h4 dgray'>Build a connection</p>
            <p class='faq-text h5'>
              <%= Rails.application.secrets.name %> is about getting involved on a recurring basis. Our goal is to foster intimate connections between neighbors of all walks, beliefs, ages, and income.
            </p>
            <p class='faq-text h5'>
              A neighborhood is built on diversity and helping each other.
            </p>
            <p class='faq-text h5'>
              Once you’ve met an organization, think beyond helping out just once. How can you build a meaningful relationship?
            </p>
          </div>
          <div class='faq-text-box'>
            <p class='sub-heading sofiabold dgray'>Volunteering challenges</p>
            <p class='faq-subheading sofiabold h4 dgray'>Scheduling</p>
            <p class='faq-text h5'>
              It can take a good amount of communication to find the best time available for the organization, and your volunteers. Patience is a virtue. Start small.
            </p>
            <p class='faq-subheading sofiabold h4 dgray'>Building trust</p>
            <p class='faq-text lgray h5'>
              Community organizations are going to want to get an understanding of who you are, your motives and your credibility. Meeting in person, and mentioning other local groups you are working with - can help a lot.
            </p>
            <img class='faq-img fit absolute mx4 xs-hide sm-hide right-0' src="<%= image_path('public/Give-StartSmall.png') %>" />
            <p class='faq-subheading sofiabold h4 dgray'>Paperwork</p>
            <p class='faq-text h5'>
              Many community programs need volunteers to fill out paperwork. Some are extensive, and if children or at-risk individuals are involved, they may request background checks.
            </p>
            <p class='faq-text h5'>
              We looked for partners with the least amount of paperwork possible. You may still have to personally fill out information for or with your volunteers.
            </p>
            </h5>
            <p class='faq-subheading sofiabold h4 dgray'>Organizing your volunteers</p>
            <p class='faq-text h5'>
              For each activation, we assigned a team leader to help ensure volunteers show up on time, are professional, and organized. Be prepared;  it’s a good amount of work in the beginning!
            </p>
            <p class='faq-subheading sofiabold h4 dgray'>Supplies & transportation</p>
            <p class='faq-text h5'>
              We decided to do a small event to raise a few hundred dollars per activation to help pay for supplies and transportation. It’s not necessary, but you may incur some costs. Donations via raffle, bingo, dinner, or silent auction can help go a long way to cover basic expenses.
            </p>
            <p class='faq-subheading sofiabold h4 dgray'>Legal & liability</p>
            <p class='faq-text h5'>
              We were fortunate enough to have a lawyer help advise us on where we, volunteers and organizations stand. It is important for each volunteer to sign an indemnification waiver before each activation. This is a great <a class="accent-color text-decoration-none" href="#">resource↳</a> to learn more about waivers and rights.
            </p>
          </div>
          <div class='faq-text-box'>
            <p class='sub-heading sofiabold dgray'>Resources</p>
            <p class='faq-subheading sofiabold dgray h4'>We're here to help</p>
            <p class='faq-text h5'>
              Can’t find what you’re looking for? There are some great organizations out there trying to connect people with volunteer opportunities, and while we can’t vouch for the various organizations and activations listed through these platforms, there might be something for you!
              <ul class='faq-text h5'>
                Nationwide:
                <li><a class="accent-color text-decoration-none" href="http://idealist.org">idealist.org↳</a> </li>
                <li><a class="accent-color text-decoration-none" href="http://volunteermatch.org">volunteermatch.org↳</a> </li>
                <li><a class="accent-color text-decoration-none" href="http://rallforthegood.org">rallforthegood.org↳</a> </li>
                <li><a class="accent-color text-decoration-none" href="#">resource↳</a> </li>
              </ul>
              <ul class='faq-text h5'>
                New York:
                <li><a class="accent-color text-decoration-none" href="http://nycservice.org">nycservice.org↳</a> </li>
                <li><a class="accent-color text-decoration-none" href="http://newyorkcares.org">newyorkcares.org↳</a> </li>
                <li><a class="accent-color text-decoration-none" href="http://timeforgood.org">timeforgood.org↳</a> </li>
                <li><a class="accent-color text-decoration-none" href="http://godeed.nyc">godeed.nyc↳</a> </li>
              </ul>
            </p>
          </div>
          <div class='faq-text-box'>
            <p class='sub-heading sofiabold dgray'>The fine print</p>
            <p class='faq-subheading sofiabold dgray h4'>How we operate</p>
            <p class='faq-text h5'>
              <%= Rails.application.secrets.name %> is a non-profit federal tax-exempt organization under section 501(c)(3) of the Internal Revenue Code, EIN 81-4924613, so all of your donations are tax deductible.
            </p>
            <p class='faq-text h5'>
              While volunteering doesn’t cost any money, some activations might require tools and supplies, most of which <%= Rails.application.secrets.name %> aims to provide. Interested in donating supplies? Email us at <a class="accent-color text-decoration-none" href="mailto:hello@<%= Rails.application.secrets.host %>">hello@<%= Rails.application.secrets.host %>↳</a>.
            </p>
            <p class='faq-text h5'>
              We’re run by a team of volunteers, and all of our administrative costs are supported by private philanthropy which enables us to ensure every dollar raised goes directly to supporting the causes you care about most. Interested in supporting the platform? You can reach us at <a class="accent-color text-decoration-none" href="mailto:hello@<%= Rails.application.secrets.host %>">hello@<%= Rails.application.secrets.host %>↳</a>. We’d love to continue the conversation!
            </p>
          </div>
          <div class='faq-text-box'>
            <p class='faq-subheading sofiabold dgray h4'>Liability & responsibility</p>
            <p class='faq-text h5'>
              Our goal is to connect willing and able volunteers directly with credible community organizations.
            </p>
            <p class='faq-text h5'>
              <%= Rails.application.secrets.name %> is not liable for any personal damages, injury, or lost property during participant’s activation. Before an activation, each volunteer is required to fill out a waiver.
            </p>
            <p class='faq-text h5'>
              While we help coordinate the activations, you’ll be dealing directly with the organizations who may have their own requirements and paperwork for you to fill out.
            </p>
            <p class='faq-text h5'>
              If you have any specific questions, email us at <a class="accent-color text-decoration-none" href="mailto:hello@give-one.org">hello@give-one.org↳</a>.
            </p>
          </div>
          <div class='faq-text-box'>
            <p class='faq-subheading sofiabold dgray h4'>We're in beta</p>
            <p class='faq-text h5'>
              We are currently Beta testing our volunteer activations with select partners in New York City.
            </p>
            <p class='faq-text h5'>
              We will be expanding our programming to additional communities and community organizers in the months to come. If you have an organization that would like to participate, or would like to suggest an organization, please email us at <a class="accent-color text-decoration-none" href="mailto:partners@give-one.org">partners@give-one.org↳</a>.
            </p>
            <p class='faq-text accent-color h5'>
              We’d love to help!
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
