<% first_day_of_quarter = Date.current.at_beginning_of_quarter %>
<% last_day_of_quarter = first_day_of_quarter.at_end_of_quarter %>
<% first_day = first_day_of_quarter.beginning_of_week %>
<% last_day = last_day_of_quarter.end_of_week %>
<% first_day_of_month = month_date.beginning_of_month %>
<% last_day_of_month = first_day_of_month.end_of_month %>
<% weeks = (first_day_of_quarter..last_day_of_quarter).to_a.in_groups_of(7).map { |a| a.reject { |e| e.blank? } } %>
<% nonprofits = Nonprofit.where(featured_on: weeks) %>

<!--  @TODO: Show nonprofits per quarter -->
<table cellspacing="3" cellpadding="0" style=" vertical-align: top; display: inline-block; margin: 0 8px">
	<tr>
		<th colspan="31" align="center">
			<span>Quarter starting: <%= Date::MONTHNAMES[first_day_of_quarter.month] %> <%= first_day_of_month.day.ordinalize %> <%= first_day_of_month.year %></span>
		</th>
	</tr>
  	<% weeks.each do |days| %>
  		<% days.each do |day| %>
        <% if day.day == 1 %>
          <tr style="font-size: 12px;">
        <% end %>
				<% nonprofit = nonprofits.find { |c| c.featured_on == day } %>
				<% holidays = Holidays.between(day, day, [:us, :united_nations]).map { |h| h[:name] } %>
				<td title="<%= holidays.join(", ") %>" style="background-color: #E1E1E1; background-size: 100% 100%; position: relative; text-align: center; padding: 0; width: 50px; height: 50px; overflow: hidden;">
					<%= nonprofit ? link_to(day.day, edit_admin_nonprofit_url(nonprofit.id), style: "color: #FFF; text-decoration: none; display: block; height: 100%; width: 100%; line-height: 50px") : link_to(day.day, new_admin_nonprofit_url(date: day.to_s)) %>
					<div style="font-family: 'Lucida Console', Monaco, monospace; position: absolute; left: 2px; bottom: 2px; font-size: 8px; text-align: left; line-height: 8px;">
						<%= link_to("Missing photo", "#", title: holidays, style: "font-size: 8px; text-decoration: none; display: block;") if nonprofit && nonprofit.photo.blank? %>
						<%= link_to("Holidays", "#", title: holidays, style: "font-size: 8px; text-decoration: none;  display: block;") unless holidays.empty?  %>
						<%= link_to("Private", "#", title: holidays, style: "font-size: 8px; color: red; text-decoration: none; display: block;") if nonprofit && !nonprofit.is_public? %>
					</div>
				</td>
        <% if day.month != day.next_day.month %>
          </tr>
        <% end %>
  		<% end %>
  	<% end %>
</table>
