<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <link href="/favicon.png" type="image/png" rel="icon" />

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">
  <link href="//unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "public", media: "all" %>

  <% if @require_stripe_js %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      // This identifies your website in the createToken call below
      Stripe.setPublishableKey("<%= Rails.application.secrets[:publishable_key] %>");
    </script>
  <% end %>
</head>
<body data-theme="<%= (@public_theme || 'blue') %>">
  <%= render "layouts/public/partials/header" unless @hide_header %>
  <section class='content'>
    <%= yield %>
  </section>
  <%= render "layouts/public/partials/footer" unless @hide_footer %>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</body>
</html>
